.about
{
    padding: 100px 0;

    background-color: $color-gray-light;

    @include lg-md
    {
        padding: 80px 0;
    }
    @include md
    {
        padding: 60px 0;
    }
    @include sm
    {
        padding: 60px 0;
    }

    &__container
    {
        display: flex;

        @extend %container;
        justify-content: space-between;
        @include sm
        {
            flex-direction: column;
        }
    }
    &__hr
    {
        width: 2.1px;
        height: 200px;
        margin-top: 147px;
        margin-right: 51px;
        margin-left: 47px;

        border-left: 1.5px solid rgba(99, 117, 136, .15);

        @include lg-md
        {
            margin-top: 114px;
            margin-right: 22px;
            margin-left: 18px;
        }
        @include md-sm
        {
            margin-top: 87px;
            margin-right: 10px;
            margin-left: 9px;
        }
        @include sm
        {
            display: none;
        }
    }
    &__image
    {
        display: flex;

        margin-right: 2px;

        justify-content: center;
        align-items: center;
        @include md-sm
        {
            margin-right: 0;
        }
        @include sm
        {
            margin: auto;
            padding: 20px 0 0 0;
        }
    }
}

.about-content
{
    max-width: 929px;

    @include ul-xl
    {
        max-width: 927px;
    }
    @include xl-lg
    {
        max-width: 707px;
    }
    @include lg-md
    {
        max-width: 639px;
    }
    @include md-sm
    {
        max-width: 470px;
    }
    @include sm
    {
        max-width: 534px;
    }
    &__title
    {
        margin: 0 0 51px 0;

        @include lg-md
        {
            margin-bottom: 37px;
        }
        @include md-sm
        {
            margin-bottom: 31px;
        }
        @include sm
        {
            margin-bottom: 31px;
        }
    }
    &__info
    {
        font-size: 1.125rem;
        line-height: 1.15;

        letter-spacing: .049em;

        @include lg
        {
            font-size: 1rem;

            letter-spacing: .055em;
        }
    }
}

.about__image img
{
    max-width: 266.55px;
    height: 480px;

    @include md-sm
    {
        width: 236px;
        height: 424.97px;
    }
}

.about p:last-child
{
    margin-bottom: 0;
}



