.subscribe
{
    height: 120px;
    padding: 30px 0;

    background-color: $color-primary;

    @include md-sm
    {
        height: 200px;
    }
    @include sm
    {
        height: 280px;
    }
    &__form
    {
        display: flex;

        @extend %container;
        justify-content: space-between;
        flex-wrap: wrap;
        @include sm
        {
            flex-direction: column;
        }
        &-item
        {
            font-size: 1.125rem;

            padding-top: 3px;
            padding-left: 30px;

            transition: background-color .5s, border-color .5s;
            letter-spacing: .15em;

            color: rgb(255, 255, 255);
            border: 2px solid #38405a;
            border-bottom: 2px solid #6b7285;
            background-color: #38405a;

            @extend %input;
            @include sm
            {
                margin-bottom: $gap;
            }
            &:hover
            {
                border: 2px solid $color-gray;
                border-bottom: 2px solid $color-gray-light;
                background-color: #424b63;
            }
            &:focus
            {
                outline: none;
            }
        }
        &-button
        {
            font-size: 1.125rem;

            padding: 18px 20px;

            transition: background-color .5s, border-color .5s;
            letter-spacing: .1em;

            color: $color-light;
            border: 2px solid #424b63;
            border-bottom: 2px solid #6b7285;
            background-color: #424b63;

            @extend %input;

            &:hover
            {
                border-color: $color-light;
                background-color: $color-accent;
            }
        }
    }
}

::placeholder
{
    font-size: 1.15rem;

    position: relative;

    letter-spacing: .135em;

    color: $color-gray;
}

:hover::placeholder
{
    color: #9da1ae;
}

.name
{
    @include md-sm
    {
        width: 100%;
    }
}

.email,
.subscribe__form-button
{
    @include md-sm
    {
        width: 48.6%;
        margin-top: 20px;
    }
}
