%container
{
    max-width: $ul;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;
}

%input
{
    width: 32.308%;
    height: 60px;

    border-width: 0;

    @include lg-md
    {
        width: 31.9%;
    }
    @include sm
    {
        width: 100%;
    }
}

%center
{
    display: block;

    text-align: center;
}
