

.footer
{
    height: 251.5px;
    padding: 50px 20px 70px;

    text-align: center;

    background-color: $color-primary;
}

.footer a
{
    display: block;

    padding: 10px 8px 10px 10.3px;

    transition: color .5s;
}

hr
{
    width: 75px;
    margin-top: 0;

    opacity: .15;
}

.network
{
    position: relative;

    display: grid;

    margin-bottom: 18px;

    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
}

.fab
{
    font-size: 36px;
}

.fab:hover
{
    transition: color .5s;

    color: $color-accent;
}

.copyright p
{
    font-size: $font-size;

    margin: 0;
}

.copyright p:first-child
{
    font-weight: 100;

    padding-top: 12px;
    padding-left: 9px;

    letter-spacing: .33em;

    color: #637588;
}

.copyright p:last-child
{
    font-weight: 700;

    letter-spacing: .05em;

    color: $color-light;
}
